<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
    <title>HTMMFT</title>  
    <%= stylesheet_link_tag 'normal' %>
    <% #TODO gerer les includes js %>
    <%=javascript_include_tag :equipe%>
  </head>
<body>
<div id=global>
<div id="header_container">	
<div id="header_filler_left"></div>
<div id="header">
<h1>How to manage my football team ?<h1> 
<h2>"Make it smart, keep it simple!"<h2>
</div>
<div id="header_filler_right"></div>
</div>
<div class="menu">
<%= current_user.login %>|<%= link_to '*', :controller=>'report' %>|<%= link_to '?', :controller=>'howto' %>|<%= link_to "Déconnexion", logout_path %>
</div>



<div id="container">
<div>	
<%= yield  %>
</div>
</div>
<div id="footer">
</div>
</div>
</body>
</html>
