
<div>
<h2>Divisions & Joueurs</h2>

<ul>
<li>Nord
<ul>
<% @divisionN.each do |equipe| %>
    <li><%= link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %> est jouée par <%= equipe.login %> ( <%= mail_to equipe.email, nil, :replace_at => "_at_", :replace_dot => "_dot_" %> ) </li>
<% end %>
</ul>
</li>

<li>Nord-Est
<ul>
<% @divisionNE.each do |equipe| %>
    <li><%= link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %> est jouée par <%= equipe.login %> ( <%= mail_to equipe.email, nil, :replace_at => "_at_", :replace_dot => "_dot_" %> ) </li>
<% end %>
</ul>
</li>

<li>Est
<ul>
<% @divisionE.each do |equipe| %>
    <li><%= link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %> est jouée par <%= equipe.login %> ( <%= mail_to equipe.email, nil, :replace_at => "_at_", :replace_dot => "_dot_" %> ) </li>
<% end %>
</ul>
</li>

<li>Sud-Est
<ul>
<% @divisionSE.each do |equipe| %>
    <li><%= link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %> est jouée par <%= equipe.login %> ( <%= mail_to equipe.email, nil, :replace_at => "_at_", :replace_dot => "_dot_" %> ) </li>
<% end %>
</ul>
</li>

<li>Sud
<ul>
<% @divisionS.each do |equipe| %>
    <li><%= link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %> est jouée par <%= equipe.login %> ( <%= mail_to equipe.email, nil, :replace_at => "_at_", :replace_dot => "_dot_" %> ) </li>
<% end %>
</ul>
</li>

<li>Sud-Ouest
<ul>
<% @divisionSO.each do |equipe| %>
    <li><%= link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %> est jouée par <%= equipe.login %> ( <%= mail_to equipe.email, nil, :replace_at => "_at_", :replace_dot => "_dot_" %> ) </li>
<% end %>
</ul>
</li>

<li>Ouest
<ul>
<% @divisionO.each do |equipe| %>
    <li><%= link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %> est jouée par <%= equipe.login %> ( <%= mail_to equipe.email, nil, :replace_at => "_at_", :replace_dot => "_dot_" %> ) </li>
<% end %>
</ul>
</li>

<li>Nord-Ouest
<ul>
<% @divisionNO.each do |equipe| %>
    <li><%= link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %> est jouée par <%= equipe.login %> ( <%= mail_to equipe.email, nil, :replace_at => "_at_", :replace_dot => "_dot_" %> ) </li>
<% end %>
</ul>
</li>

</ul>
</div>

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>


